<div class="container">

  <div class="form-group">
    <label>Cidade</label>
    <input
      type="text"
      name="inputNome"
      class="form-control"
      #nome ngModel
      #inputNome="ngModel" required
      minlength="3"
    >
  </div>

  <div
    name="message"
    class="p-error"
    *ngIf="inputNome.hasError('required') && inputNome.dirty"
  >
    Informe um nome de cidade!
  </div>
  <div
    name="message"
    class="p-error"
    *ngIf="inputNome.hasError('minlength') && inputNome.dirty"
  >
  Mínimo de {{ inputNome.errors?.minlength?.requiredLength }} caracteres!
  </div>

  <br />

  <button
    type="button"
    class="btn btn-primary"
    (click)="adicionar(nome.value); nome.value = ''"
    [disabled]="inputNome.invalid"
  >
    Adicionar
  </button>

  <table class="table" style="margin-top: 20px;">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cidade of cidades">
        <td>{{ cidade.id }}</td>
        <td>
          <div class="input-group">
            <div>
              <input
                type="text"
                name="inputNome"
                class="form-control"
                [(ngModel)]="cidade.name"
                ngModel
                #inputNome="ngModel" required
                minlength="3"
              >
              <div
                name="message"
                class="p-error"
                *ngIf="inputNome.hasError('required') && inputNome.dirty"
              >
                Informe um nome de cidade!
              </div>
              <div
                name="message"
                class="p-error"
                *ngIf="inputNome.hasError('minlength') && inputNome.dirty"
              >
              Mínimo de {{ inputNome.errors?.minlength?.requiredLength }} caracteres!
              </div>
            </div>
            <span class="input-group-btn" style="margin-left: 20px;">
              <button
                class="btn btn-primary"
                (click)="atualizar(cidade)"
                [disabled]="inputNome.invalid"
              >
                Atualizar
              </button>
            </span>
          </div>
        </td>
        <td>
          <button class="btn btn-danger"
            (click)="excluir(cidade.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
