<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a
          href="javascript:;"
          class="navbar-toggle"
          (click)="exibirMenu = !exibirMenu"
        >
          <i class="fa fa-bars fa-lg"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" *ngIf="exibirMenu">
    <li class="navbar-usuario">Administrador</li>
    <li class="navbar-menu-item" >
      <a (click)="exibirMenu = false" [routerLink]="['/lancamentos']">Lançamentos</a>
    </li>
    <li class="navbar-menu-item" >
      <a (click)="exibirMenu = false" [routerLink]="['/pessoas']">Pessoas</a>
    </li>
    <li class="navbar-menu-item"><a href="#">Logout</a></li>
  </ul>

</nav>
