<div class="container">

  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label style="display: block;">Descrição</label>
      <input class="col-12" pInputText type="text">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText type="text" style="width: 95px;">

      <label style="margin: 0 10px;">até</label>
      <input pInputText type="text" style="width: 95px;">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" style="margin-top: 10px;"></button>
    </div>

  </div>

  <div class="ui-g" style="margin-top: 10px;">
    <div class="ui-g-12">
      <p-table
        [value]="lancamentos"
        [paginator]="true"
        [rows]="3"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [responsive]="true"
        styleClass="p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th>Vencimento</th>
            <th>Pagamento</th>
            <th style="text-align: center;">Valor</th>
            <th style="text-align: center;">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data">{{ lancamento.dataVencimento | date: 'dd/MM/y' }}</td>
            <td class="col-data">{{ lancamento.dataPagamento | date: 'dd/MM/y' }}</td>
            <td
              class="col-valor"
              [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'"
            >
              {{ lancamento.valor | currency: 'BRL': true: '1.2-2' }}
            </td>
            <td class="col-acoes">
              <button
                class="button-fa"
                pButton icon="fa fa-pencil"
                pTooltip="Editar"
                tooltipPosition="top"
              >
              </button>
              <button
                pButton icon="fa fa-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
              >
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" style="margin-top: 10px; margin-bottom: 20px;">
      <button pButton label="Novo Lançamento"></button>
    </div>

  </div>

</div>


