<div class="form-group">
  <label>Nome</label>
  <input
      type="text"
      class="form-control"
      ngModel
      required
      name="name"
      #name="ngModel"
      #inputName
  />
</div>
<div name="message" class="p-error" *ngIf="name.hasError('required') && name.dirty">
  Informe um nome!
</div>

<br />

<div>
  <button
    (click)='addName(inputName.value)'
    type="button"
    class="btn btn-primary"
    [disabled]="name.invalid"
  >
    Adicionar
  </button>

  <br />
  <br />

  <div class="row">
    <div class="col-2" *ngFor="let person of persons">
        <app-person-card [personCard]="person"></app-person-card>
        <br />
    </div>
</div>

</div>
