.col-valor {
  width: 120px;
  text-align-last: right;
}

.col-data {
  width: 120px;
  text-align-last: center;
}

.col-acoes {
  width: 120px;
  text-align-last: center;
}

.button-fa{
  margin-right: 10px;
}
