<div class="container">

  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label style="display: block;">Descrição</label>
      <input class="col-12" pInputText type="text">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText type="text" style="width: 95px;">

      <label style="margin: 0 10px;">até</label>
      <input pInputText type="text" style="width: 95px;">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" style="margin-top: 10px;"></button>
    </div>

  </div>

  <div class="ui-g" style="margin-top: 10px;">
    <div class="ui-g-12">

      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>

    </div>

    <div class="ui-g-12" style="margin-top: 10px; margin-bottom: 20px;">
      <button pButton [routerLink]="['/lancamentos/novo']" label="Novo Lançamento"></button>
    </div>

  </div>

</div>


